/*
Se definen las prioridades de los estilos, que tendrán menor prioridad que los
definidos directamente en el HTML.
1. Estilos en elementos HTML.
2. Estilos en "head" del HTML.
3. Estilos en fichero CSS externo
*/

body {
    background:#c0c0c0;
    color:#000080;
    font-family:"Century Gothic";
}