header, nav, section, article, aside, footer {
    display: block; /* Para que cada elemento quede en su renglón. */
    background-color: aliceblue;
    padding: 3px;
    margin: 5px;
}

main {
    background-color:lightyellow;
}

nav {
    width: 25%;
    float: left;
}

section {
    width: 75%;
    float: right;
}


article {
    background-color: cadetblue;
}

footer {
    /* Con esta propiedad se rompe el bloque y por tanto, el footer se va
    al siguiente espacio disponible. */
    clear: both; 
}