body {
    /* Notación en formato RGB para un color */
    color: rgb(0, 119, 184);
    width: 400px;
    font-size: 16px;
}

label {
    display: block;
}


/* Notación para subclase en CSS3 */

input:invalid {
    border: 1px solid #cc0000;
}

input:valid {
    /* Notación en formato nombre para un color */
    background-color: lightyellow;
    border: 1px solid #3399ff;
}


/* Si el estado es "valid" y la clase aplicada es "invalid", podemos aplicar
"visibility" con valor "hidden". */

input:valid+.invalid {
    visibility: hidden;
}


/* Si el estado es "invalid" y la clase aplicada es "invalid", aplicamos
"visibility" con valor "true". */

input:invalid+.invalid {
    visibility: true;
}